# build dir
/build/


# macOS filesystem noise
.DS_Store

#Notes 
HOW_TO_MEASURE_CACHE_PERFORMANCE.txt
FINISHING_ADDITIONS.txt

.cache/*

#Csv files
results.csv
size_detection.csv
cache_line_size_detection.csv

#Python bytecode
__pycache__/

#A python script example from the website
ex.py


#Instructions for CMake
BUILDING.md
REVIEW.txt
.clang-tidy


